@font-face {
    font-family: 'PakkadThin';
    src: url("../fonts/PakkadThin.ttf");
    font-style: normal;
}

body {
    font-family: "PakkadThin" !important;
    font: normal 1.2em Arial;
}

.table-custom thead {
    background-color: aquamarine;
}

.table-custom {
    border: solid;
    border-color: black;
}